[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/umed/Documents/GitHub/RecompModSetup/RecompModTool
Type=Link
URL=file:///home/umed/Documents/GitHub/RecompModSetup/RecompModTool
Icon=application-x-executable
